*.pyc
*.pyo
*.tokens
*.class
*.orig
*.cfc

.project
.pydevproject
.settings

suite/tests/*c

*.swp

src/westmalle/parser/output
suite/output
project/*/output
project/isim/scripts/out
run.profile

src/pygraphviz

example/*/output
__pycache__

*~

dist
build
src/imp.egg-info
MANIFEST

docs/IMP/tmp

*.log
